@model DepartmentViewModel
@{
    ViewData["Title"] = "Departments";
}

<div class="conainter-fluid">
    <div class="row mt-2">
        <div class="col-sm-12 col-xl-12 col-md-12 col-lg-12">
            @if (TempData.ContainsKey("ErrorMessage") && !string.IsNullOrEmpty(TempData["ErrorMessage"].ToString()))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Opps! </strong>@TempData["ErrorMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            else if (TempData.ContainsKey("SuccessMessage") && !string.IsNullOrEmpty(TempData["SuccessMessage"].ToString()))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Opps! </strong>@TempData["SuccessMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        </div>
    </div>

    <div class="row mt-2">
        <form asp-action="Index" asp-controller="Department" method="post" asp-antiforgery="true">
            <div class="row">
                <div class="col-sm-12 col-xl-3 col-md-3 col-lg-3">
                    <input class="form-control" asp-for="SearchText" placeholder="Search..." autocomplete="off"/>
                </div>
                <div class="col-sm-6 col-xl-1 col-md-1 col-lg-1">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
                <div class="col-sm-6 col-xl-3 col-md-3 col-lg-3">
                    <a class="btn btn-primary  pull-right" asp-controller="Department" asp-action="Add">Add New Department</a>
                </div>
            </div>
        </form>
    </div>
    <div class="row mt-2">

        <div class="col-sm-12 col-xl-6 col-md-6 col-lg-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Department Code</th>
                        <th>Department Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.List.Count > 0)
                    {
                        @foreach (var item in Model.List)
                        {
                            <tr>
                                <td>@item.DepartmentCode</td>
                                <td>@item.DepartmentName</td>
                                <td>
                                    <a class="btn btn-primary" asp-action="Add" asp-controller="Department" asp-route-id="@item.DepartmentId"> Edit</a>
                                    <button class="btn btn-danger" onclick="Delete(@item.DepartmentId)"> Delete</button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center">
                                <div class="alert alert-warning">
                                    <b>No Data to Show</b>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function Delete(id) {
            if (confirm("Are you sure want to delete this department? All employees associate with this department also delete.")) {
                window.location = "/Department/Delete/" + id;
            }
        }
    </script>
}